

#Python packages for data science
#pysema
jupyter
jupyterlab
jupyterlab_widgets
numpy
ipympl
mplcursors
pandas 
matplotlib 
ipywidgets
plotly
seaborn 
#scikit-learn 
#scipy 
#tensorflow 
#torch


# Include py-sema from GitHub
git+https://github.com/vliz-be-opsci/py-sema.git